body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
  }

  .contact-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }

  .contact-form label {
    font-weight: 700;
  }

  .contact-form .form-control {
    border-radius: 5px;
  }

  .contact-form textarea {
    resize: none;
  }

input.ng-invalid.ng-touched{
  border: 2px solid tomato;
}

.msg{
  color: #09c;
}
.contact-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #f9f9f9;
}
