

.skill-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 4px;
}
.delete-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.delete-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
